@using melodika.Models;
@using System.Collections.Generic;
@{
    ViewData["Title"] = "MostrarUsuario";
    List<Usuario> usuarios = ViewBag.usuarios as List<Usuario> ?? new List<Usuario>();
}

   <main class="contenido-principal">

   <section>  
@if (usuarios.Count > 0)
{
    int maxUsuarios = 3;
    int i = 0;
    while (i < maxUsuarios && i < usuarios.Count)
    {

      Usuario usuario = usuarios[i];
      <a class="links" href='@Url.Action("SeleccionarUsuario", "Account", new { idUsuario = usuario.IdUsuario })'>
          <article class="usuario-tarjeta">
              <div class="usuario-circulo">
                  <img src="" alt="Foto de @usuario.Nombre">
              </div>
              <p>@usuario.Nombre</p>
          </article>
      </a>
      i++;
    }
}
else
{
    <p>No hay usuarios disponibles para esta cuenta.</p>
}

      <a class="links" href='@Url.Action("CrearUsuario", "Account")'> 
            <article class="usuario-tarjeta">
              <div class="usuario-circulo">
                <img src="../imagenes/A.png" alt="crear usuario">
              </div>
              <p>Crear usuario</p>
            </article>
      </a>
    </section>

    <div>
      <a href='@Url.Action("LogOut", "Account")' class = "accion-primaria"> Cerrar sesion </a>
    </div>
    <p>@ViewBag.mensaje</p>
  </main>