<a href='@Url.Action("Login", "Account")'> Login </a>
<br>
<a href='@Url.Action("Configuracion", "Home")'> Configuracion </a>
<br>
<a href='@Url.Action("CancionesPopulares", "Home")'> Canciones Populares </a>
<br>
<a href='@Url.Action("CrearCuenta", "Account")'> Crear cuenta </a>
<br>
<a href='@Url.Action("CrearUsuario", "Account")'> Crear Usuario </a>
<br>
<a href='@Url.Action("Cursos", "Home")'> Cursos </a>
<br>
<a href='@Url.Action("ElegirUsuario", "Account")'> Elegir Usuario </a>
<br>
<a href='@Url.Action("LogrosYRecompensas", "Home")'> Logros y recompensas </a>
<br>
<a href='@Url.Action("PreguntasFrecuentes", "Home")'> Preguntas frecuentes </a>