@using melodika.Models
@using System.Linq
@{
    ViewData["Title"] = "Canciones";
}

<section class="Canciones-populares">
    <div>
        <h1>Canciones</h1>
        <p>No encontrás tu canción? busca la tuya!</p>
        <div>
            <input type="text" placeholder="" />
            <button type="button">🔍</button>
        </div>
    </div>

    <section>
        <h2>Canciones populares:</h2>
        <div class="canciones-grid">
            @foreach (Cancion cancion in ViewBag.canciones)
            {
                @if (cancion.Titulo == "Flaca")
                {
                    <a href="@Url.Action("CancionesPopularesAdentroHard", "Home")" class="song-card-link">
                        <div class="song-card">
                            <img src="" alt="Foto Cancion" />
                            <div class="song-info">
                                <h3>@cancion.Titulo - @cancion.Autor</h3>
                                <div class="song-meta">
                                    <span>@cancion.Dificultad</span>
                                    <div class="canciones-estrellas">
                                        @switch(cancion.Valoracion){
                                            case 0:<span>⭐☆☆</span>
                                            break;
                                            case 1:<span>⭐⭐☆</span>
                                            break;
                                            case 2:<span>⭐⭐⭐</span>
                                            break;
                                            default: <span>☆☆☆</span>
                                            break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="song-card">
                        <img src="" alt="Foto Cancion" />
                        <div class="song-info">
                            <h3>@cancion.Titulo - @cancion.Autor</h3>
                            <div class="song-meta">
                                <span>@cancion.Dificultad</span>
                                <div class="canciones-estrellas">
                                    @switch(cancion.Valoracion){
                                        case 0:<span>⭐☆☆</span>
                                        break;
                                        case 1:<span>⭐⭐☆</span>
                                        break;
                                        case 2:<span>⭐⭐⭐</span>
                                        break;
                                        default: <span>☆☆☆</span>
                                        break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
</section>