@using melodika.Models
@using System.Linq
 @{
    ViewData["Title"] = "Cursos";
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@Html.Raw(TempData["SuccessMessage"])');
    </script>
}

<h1 class = "CursosTitulo">Cursos<h1>
<section class = "SeccionCursos">
    @foreach (Curso curso in ViewBag.cursos)
    {
        <a href='@Url.Action("CursoAdentro", "Home", new { id = curso.IdCurso })' class="curso-link">
            <div class="curso-item">
                <h2>@curso.TituloCurso</h2>
                <p>@curso.Descripcion</p>
                <p class="instrumento">Instrumento: @curso.nombreInstrumento</p>
            </div>
        </a>
    }
</section>